In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('match_result_data.csv')
df.head()

,ID,SEASON,CITY,CITY_Corrrected,TEAM1,TEAM1_MODEL,TEAM2,TEAM2_MODEL,TOSS_WINNER,TOSS_DECISION,RESULT,WINNER,WIN_BY_RUNS
0,1,2017,Hyderabad,SRH,SRH,1,RCB,0,RCB,field,normal,SRH,35
1,2,2017,Pune,RPS,MI,1,RPS,0,RPS,field,normal,RPS,0
2,3,2017,Rajkot,GL,GL,1,KKR,0,KKR,field,normal,KKR,0
3,4,2017,Indore,Indore,RPS,1,KXIP,0,KXIP,field,normal,KXIP,0
4,5,2017,Bangalore,RCB,RCB,1,DD,0,RCB,bat,normal,RCB,15

In [3]:
df['SEASON'].unique()

array([2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2018,
       2019], dtype=int64)

In [4]:
years = [2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2018,2019]
years.sort()

In [5]:
if 'TOSS_WINNER_MODEL' in df.columns:
    df.drop(['TOSS_DECISION_MODEL'], axis=1, inplace = True)

In [6]:
if 'WINNER_MODEL' in df.columns:
    df.drop(['WINNER_MODEL'], axis=1, inplace = True)

In [7]:
if 'TOSS_DECISION_MODEL' in df.columns:
    df.drop(['TOSS_DECISION_MODEL'], axis=1, inplace = True)

In [8]:
Toss_result = pd.Series([]) 
Winner_result = pd.Series([])
Toss_deision_result = pd.Series([])
for(i,row) in df.iterrows():
    
    if row["TOSS_WINNER"] == row["TEAM2"]:
        toss_result = 0
    else:
        toss_result = 1
    Toss_result[i]= toss_result
    
    if row["WINNER"] == row["TEAM2"]:
        winner_result = 0
    else:
        winner_result = 1
        
    if row["TOSS_DECISION"] == 'field':
        toss_decision_result = 0
    else:
        toss_decision_result = 1
        
    Toss_result[i]= toss_result
    Winner_result[i]= winner_result
    Toss_deision_result[i]= toss_decision_result
    
df.insert(9, "TOSS_WINNER_MODEL", Toss_result) 
df.insert(13, "WINNER_MODEL", Winner_result) 
df.insert(11, "TOSS_DECISION_MODEL", Winner_result) 
df.head()

C:\Users\Amit\anaconda3\envs\anomaly_keras\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.
C:\Users\Amit\anaconda3\envs\anomaly_keras\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

C:\Users\Amit\anaconda3\envs\anomaly_keras\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

,ID,SEASON,CITY,CITY_Corrrected,TEAM1,TEAM1_MODEL,TEAM2,TEAM2_MODEL,TOSS_WINNER,TOSS_WINNER_MODEL,TOSS_DECISION,TOSS_DECISION_MODEL,RESULT,WINNER,WINNER_MODEL,WIN_BY_RUNS
0,1,2017,Hyderabad,SRH,SRH,1,RCB,0,RCB,0,field,1,normal,SRH,1,35
1,2,2017,Pune,RPS,MI,1,RPS,0,RPS,0,field,0,normal,RPS,0,0
2,3,2017,Rajkot,GL,GL,1,KKR,0,KKR,0,field,0,normal,KKR,0,0
3,4,2017,Indore,Indore,RPS,1,KXIP,0,KXIP,0,field,0,normal,KXIP,0,0
4,5,2017,Bangalore,RCB,RCB,1,DD,0,RCB,1,bat,1,normal,RCB,1,15

In [9]:
import os

In [10]:
TARGET_DIR = "Dataset"

if not os.path.exists(TARGET_DIR):
    os.makedirs(TARGET_DIR)
    print("Created")

# The Below Code is to make different csv files for each season

In [ ]:
for i,year in enumerate(years):
    print(i,year)
    new_df = df.loc[df['SEASON'] == year]
    new_df.reset_index(drop = True)
    filename = "IPL_" + str(year) + ".csv"
    new_df.to_csv(filename, index=False)